body{
    background-image: url("ny bakgrund.jpg");  
    background-size: contain;
    color: white;
    background-position: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}